$theme-background-color: linear-gradient(rgb(93, 93, 93),rgb(68, 68, 68), rgb(0, 0, 0));
$theme-font-color: rgb(84, 83, 85);
$theme-font-color-blue: rgb(107, 109, 238);
$theme-heading-color: rgb(126, 156, 255);
$theme-app-header-background: rgb(236, 236, 236);


$theme-font-color-active-hover: $theme-font-color-blue;
